src/pug/components/circle.pug
.circle
  .arrow.arrow--circle
    img(src="/assets/image/brown-arrow-down.svg")
    p.arrow__text こんなに 
      span.arrow__text-big “違います！”
      br
      | 願いを叶えるefs黒酢。
  
  ul.circle__list
    li.circle__item
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです

    
    li.circle__item.circle__item--left
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
    li.circle__item
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
    li.circle__item.circle__item--left
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    
    li.circle__item.circle__item--last
      .circle__content
        p.circle__title 見出しが入ります。
          br
          | 見出しが入ります。
        .circle__box
        p.circle__description これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです
    

components/circle.html

<div class="circle">
  <div class="arrow arrow--circle"><img src="/assets/image/brown-arrow-down.svg"/>
    <p class="arrow__text">こんなに <span class="arrow__text-big">“違います！”</span><br/>願いを叶えるefs黒酢。</p>
  </div>
  <ul class="circle__list">
    <li class="circle__item">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item circle__item--left">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item circle__item--left">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item circle__item--last">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
  </ul>
</div>
